/SwiftApp/GitHubTray/.build/index-build
/target
/SwiftApp/GitHubTray/Generated
/SwiftApp/build
/SwiftApp/com.apple.DeveloperTools/26.2-17C52/Xcode/26.2-17C52/Xcode
/SwiftApp/GitHubTray/github_tray_core.xcframework
